<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header class="py-8 px-6">
      <div class="flex justify-between items-center">
        <a class="text-xl border-2 py-1 px-4 rounded-md bg-green-400 text-white" href="/users/login">Login</a>
        <a class="text-xl border-2 py-1 px-4 rounded-md bg-green-400 text-white" href="/users/new">Register</a>
      </div>
  </header>

  <main>
    <section>
      <h1 class="text-center text-3xl mt-5 text-black-500 font-bold">Welcome to Classic Collections</h1>
    </section>
  </main>
</body>
</html>