<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/tailwind.css' />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body >
  <h1 class=" my-5 text-4xl text-center text-yellow-500">
    <%= title %>
  </h1>
  <p class="text-center text-blue-400 font-semibold"> Learn with Love  🤟 
  </p>
</body>

</html>