<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/tailwind.css' />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <h1 class="text-4xl">
    <%= title %>
  </h1>
  <p class="bg-red-900">Welcome to <%= title %>
  </p>
</body>

</html>