body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
  font-weight: 600;
  margin-left: 1rem;

}

.flex {
  display: flex;

}

.jcb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.navbar {
  background-color: rgb(17, 24, 39);
  color: white;
  padding: 1rem;
}

.listArticles {
  background-color: rgb(17, 24, 39);

}

.articleDetails {
  margin: 4rem auto;
  background-color: rgb(251, 251, 194);
  box-shadow: 0 0 10px solid rgb(24, 21, 21);
  padding: 2rem;
  border: 2px solid;
  border-radius: 2rem;
  max-width: 750px;
}

.comments {
  padding: 1rem;
  margin-top: 4rem;
}

.articles , .comments {

  form h1 {
    font-size: 2rem;
    margin: 3rem 0;
  }

  fieldset {
    display: block;
    padding: 2rem;
    margin: 5rem auto;
    max-width: 500px;
    border: 3px solid rgb(73, 146, 243);
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(100, 169, 254);
  }

  input,
  textarea {
    border: 0;
    border-radius: 0.5rem;
    padding: 0.75rem 3rem;
    display: block;
    margin: 1rem auto;
    width: 100%;
  }
}

.btn {
  display: block;
  padding: 0.75rem 3rem;
  border-radius: 2rem;
  margin: 0 auto;
}

.btn-primary {
  background-color: black;
  color: red;
}

.register,
.login {
  max-width: 700px;
  margin: 5rem auto;
  padding: 2rem;
  display: block;
  border: 2px solid rgb(194, 193, 193);
  border-radius: 2rem;
  box-shadow: 0 0 10px rgb(197, 196, 196);

  h1 {
    text-transform: capitalize;
  }
}